 div.blockT1 {
          display: block;
          padding:4vh ;
          background-color:black;
          color:white;
          text-align: center;
          font-size:2vh;
      
        }
        div.blockT2 {
            display: block;
            padding:35px ;
            background-color:white;
            color:black;
            text-align: center;
            font-family:verdana;
            width:88%;
            border:6px solid black;
        }
        .blockT3 {
            display: block;
            padding:20px ;
            background-color:white;
            color:black;
            margin-left:auto;
            margin-right:auto;
            width:94%;
            text-align: center;
            font-size:40px;
        }
	.blockT4 {
	padding: 5px;
	background-color:black;
	width:100%
	margin-left:auto;
	margin-right:auto:
	}

	.blockT5 {
	padding: 6.25vh;
	background-color:pink;
	width:100%
	margin-left:auto;
	margin-right:auto:
	}
              .imageanim {
        display:block;
        width:45vw;
        height:54vh;
        position:absolute;
        animation-name:dropdown;
        animation-duration:8s;
        animation-fill-mode: both;
        animation-delay:2s;
        
      }
      
      @keyframes dropdown {
        0% {left:-30vw;opacity:1;}
        72%{left:22vw;opacity:0.8}
	100%{left:28vw;opacity:0;}
        
      }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .lHeight {
            line-height: 130%;
        }
        .image-block1 {
            background: url(vegBowl1NEW.png) no-repeat center;
              background-size: 100% 105vh;  
            height: 105vh;
            
        }
          .image-block2 {
            background: url(vegBowl2.png) no-repeat center;
            background-size: 100% 120vh;
	    height:120vh;
           
            
        }
.image-block3 {
            background: url(vegBowl3.png) no-repeat center;
            background-size: 100% 120vh;  
            height: 120vh;
            
        }
.image-block4 {
            background: url(vegBowl4.png) no-repeat center;
            background-size: 100% 120vh;  
            height: 120vh;
            
        }
	.image-block6 {
            background: url(vegBowl6.png) no-repeat center;
            background-size: 100% 120vh;  
            height: 120vh;
            
        }
	.image-block7 {
            background: url(vegBowl7.png) no-repeat center;
            background-size: 100% 120vh;  
            height: 120vh;
            
        }
	.image-block8 {
            background: url(vegBowl8.png) no-repeat center;
            background-size: 100% 120vh;  
            height: 120vh;
            
        }
	.image-block9 {
            background: url(vegBowl9NW.png) no-repeat center;
            background-size: 100% 80vh;  
            height: 80vh;
            
        }



        .navi {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color:black;
            position: fixed;
            top: 0;
            width: 100%;
        }
        .navig {
            float: right;
        }
        .navig {
            display: block;
	    font-size:1.2vw;
            color: white;
            text-align: center;
            padding: 2.5vw 5vh;
            text-decoration: none;   
        }
        .navig :hover:not(.active) {
            background-color: #080;
        }
        .active {
            background-color: #065; 
	}
	p.newStyle {
	font-family:verdana;
	color:blue;

	}

.click-area {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:18vh;
  left: 5vw;
  width: 14vw;
  height: 14vh;
}
.click-area2 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:18vh;
  left:56vw;
  width: 24vw;
  height: 14vh;
}

.container {
	display:flex;
}

.click-area3 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:37vh;
  left: 13vw;
  width: 14vw;
  height: 10vh;
}

.click-area4 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:59vh;
  left: 54vw;
  width: 14vw;
  height: 10vh;
}

.click-area5 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:75vh;
  left: -16vw;
  width: 14vw;
  height: 10vh;
}

.click-area6 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:97vh;
  left: 26vw;
  width: 14vw;
  height: 10vh;
}

.click-area7 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:116vh;
  left: -45vw;
  width: 14vw;
  height: 10vh;
}

/* This Below is the second Vers of CLick Area */

.click-areaB1 {
  opacity:0.5;
  background-color:black;
  display: inline-block;
  position: relative;
  top:68vh;
  left: 14vw;
  width: 14vw;
  height: 10vh;
}

.click-areaB2 {
  opacity:0.5;
  background-color:black;
  display: inline-block;
  position: relative;
  top:95vh;
  left: 59vw;
  width: 14vw;
  height: 10vh;
}

.click-areaB3 {
  opacity:0.5;
  background-color:black;
  display: inline-block;
  position: relative;
  top:118vh;
  left: -14vw;
  width: 14vw;
  height: 10vh;
}

/* This Below is the third Vers of CLick Area */

.click-areaC1 {
  opacity:0.5;
  background-color:black;
  display: inline-block;
  position: relative;
  top:75vh;
  left: 10vw;
  width: 14vw;
  height: 10vh;
}

.click-areaC2 {
  opacity:0.5;
  background-color:black;
  display: inline-block;
  position: relative;
  top:75vh;
  left: 62vw;
  width: 14vw;
  height: 10vh;
}

.click-areaC3 {
  opacity:0.5;
  background-color:black;
  display: inline-block;
  position: relative;
  top:110vh;
  left: -19vw;
  width: 14vw;
  height: 10vh;
}

.click-areaC4 {
  opacity:0.5;
  background-color:black;
  display: inline-block;
  position: relative;
  top:110vh;
  left: 34vw;
  width: 14vw;
  height: 10vh;
}






/* cheese */
   
