 div.blockT1 {
          display: block;
          padding:4vh ;
          background-color:black;
          color:white;
          text-align: center;
          font-size:2vh;
      
        }
        div.blockT2 {
            display: block;
            padding:35px ;
            background-color:white;
            color:black;
            text-align: center;
            width:88%;
            border:6px solid black;
        }
        .blockT3 {
            display: block;
            padding:20px ;
            background-color:white;
            color:black;
            margin-left:auto;
            margin-right:auto;
            width:94%;
            text-align: center;
            font-size:40px;
        }
	.blockT4 {
	padding: 5px;
	background-color:black;
	width:100%
	margin-left:auto;
	margin-right:auto:
	}

	.blockT5 {
	padding: 5.5vh;
	background-color:pink;
	width:100%
	margin-left:auto;
	margin-right:auto;
	opacity:0;
	}
              .imageanim {
	margin-top:34vh;
	margin-left:-30vw;
	margin-right:auto;
        display:block;
	z-index: 1;
        width:45vw;
        height:54vh;
	animation-timing-function: linear;
        position:absolute;
        animation-name:dropdown;
        animation-duration:5s;
        animation-fill-mode: forwards;
        animation-delay:2s;
        
      }

@media (max-width: 800px){
	
              .imageanim {
	margin-top:18vh;
	margin-left:-34vw;
	margin-right:auto;
        display:block;
	z-index: 1;
        width:48vw;
        height:15vh;
      }

}
      
      @keyframes dropdown {
        0% {left:-10vw;opacity:1;}
	40% {left: 16vw;opacity:1;transfrom: rotate(0deg)}
	64% {left:32vw;opacity:1;transform: rotate(-22deg);}
        70% {left:36vw;opacity:1;transform: rotate(17deg);}
	75% {left:40vw;opacity:1;transform: rotate(-16deg);}
	80% {left:43vw;opacity:1;transform: rotate(14deg);}
	83% {left:46vw;opacity:1;transform: rotate(-13deg);}
	85% {left:48vw;opacity:1;transform: rotate(12deg);}
	88% {left:50vw;opacity:1;transform: rotate(-11deg);}
	92% {left:56vw;opacity:1;transform: rotate(10deg);}
	96% {left:54vw;opacity:1;transform: rotate(-9deg);}
	100% {left:56vw;opacity:1;}
        
      }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .lHeight {
            line-height: 130%;
        }
        .image-block1 {
            background: url(vegBowl1NW.png) no-repeat center;
              background-size: 100% 100vh;  
            height: 100vh;
            
        }

          .image-block2 {
            background: url(vegBowl2.png) no-repeat center;
            background-size: 100% 120vh;
	    height:120vh;
           
            
        }
.image-block3 {
            background: url(vegBowl3.png) no-repeat center;
            background-size: 100% 120vh;  
            height: 120vh;
            
        }
.image-block4 {
            background: url(vegBowl4.png) no-repeat center;
            background-size: 100% 120vh;  
            height: 120vh;
            
        }
	.image-block6 {
            background: url(vegBowl6.png) no-repeat center;
            background-size: 100% 120vh;  
            height: 120vh;
            
        }
	.image-block7 {
            background: url(vegBowl7.png) no-repeat center;
            background-size: 100% 120vh;  
            height: 120vh;
            
        }
	.image-block8 {
            background: url(vegBowl8.png) no-repeat center;
            background-size: 100% 120vh;  
            height: 120vh;
            
        }
	.image-block9 {
            background: url(vegBowl9NW.png) no-repeat center;
            background-size: 100% 80vh;  
            height: 80vh;
            
        }

	.image-block10 {
            background: url(vegBowlDr.png) no-repeat center;
            background-size: 100% 120vh;  
            height: 120vh;
            
        }

@media (max-width: 800px) {

.image-block1 {
            background: url(vegBowl1NW.png) no-repeat center;
            background-size: 100% 30vh;  
            height: 30vh;
            
        }

          .image-block2 {
            background: url(vegBowl2.png) no-repeat center;
            background-size: 100% 36vh;
	    height:36vh;
           
            
        }
.image-block3 {
            background: url(vegBowl3.png) no-repeat center;
            background-size: 100% 36vh;  
            height: 36vh;
            
        }
.image-block4 {
            background: url(vegBowl4.png) no-repeat center;
            background-size: 100% 36vh;  
            height: 36vh;
            
        }
	.image-block6 {
            background: url(vegBowl6.png) no-repeat center;
            background-size: 100% 36vh;  
            height: 36vh;
            
        }
	.image-block7 {
            background: url(vegBowl7.png) no-repeat center;
            background-size: 100% 36vh;  
            height: 36vh;
            
        }
	.image-block8 {
            background: url(vegBowl8.png) no-repeat center;
            background-size: 100% 36vh;  
            height: 36vh;
            
        }
	.image-block9 {
            background: url(vegBowl9NW.png) no-repeat center;
            background-size: 100% 24vh;  
            height: 24vh;
            
        }
		.image-block10 {
            background: url(vegBowlDr.png) no-repeat center;
            background-size: 100% 36vh;  
            height: 36vh;
            
        }
	

}



        .navi {
            list-style-type: none;
	    z-index: 2;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color:black;
            position: fixed;
            top: 0;
            width: 100%;
        }
        .navig {
            float: right;
        }
        .navig {
            display: block;
	    font-size:1vw;
            color: white;
            text-align: center;
            padding: 1.25vw 4vh;
            text-decoration: none; 
	    font-family: "open-sans", sans-serif;
	    font-weight: 300;
	    font-style: normal;
        }
        .navig :hover:not(.active) {
            background-color: #080;
        }
        .active {
            background-color: #065; 
	}
	p.newStyle {
	font-family:verdana;
	color:blue;

	}

@media (max-width:800px) {

        .navig {
            display: block;
	    font-size:1vw;
            color: white;
            text-align: center;
            padding: 1vw 2vh;
            text-decoration: none; 
	    font-family: "open-sans", sans-serif;
	    font-weight: 300;
	    font-style: normal;

	}
}

.click-area {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:18vh;
  left: 5vw;
  width: 14vw;
  height: 14vh;
}
.click-area2 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:18vh;
  left:56vw;
  width: 24vw;
  height: 14vh;
}

.container {
	display:flex;
}

.click-area3 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:37vh;
  left: 13vw;
  width: 14vw;
  height: 10vh;
}

.click-area4 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:59vh;
  left: 54vw;
  width: 14vw;
  height: 10vh;
}

.click-area5 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:75vh;
  left: -16vw;
  width: 14vw;
  height: 10vh;
}

.click-area6 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:97vh;
  left: 26vw;
  width: 14vw;
  height: 10vh;
}

.click-area7 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:116vh;
  left: -45vw;
  width: 14vw;
  height: 10vh;
}

/* This Below is the second Vers of CLick Area */

.click-areaB1 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:68vh;
  left: 14vw;
  width: 14vw;
  height: 10vh;
}

.click-areaB2 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:95vh;
  left: 59vw;
  width: 14vw;
  height: 10vh;
}

.click-areaB3 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:117vh;
  left: -14vw;
  width: 14vw;
  height: 10vh;
}

/* This Below is the third Vers of CLick Area */

.click-areaC1 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:75vh;
  left: 10vw;
  width: 14vw;
  height: 10vh;
}

.click-areaC2 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:75vh;
  left: 62vw;
  width: 14vw;
  height: 10vh;
}

.click-areaC3 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:113vh;
  left: -19vw;
  width: 14vw;
  height: 10vh;
}

.click-areaC4 {
  opacity:0;
  background-color:black;
  display: inline-block;
  position: relative;
  top:113vh;
  left: 34vw;
  width: 14vw;
  height: 10vh;
}

.montFont {
  font-family: montserrat, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size:4vh;
  line-height:1.5;
}

.montFont1 {
  font-family: montserrat, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size:3vh;
  line-height:1.5;
}

.montFont2 {
  font-family: montserrat, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size:4vh;
  line-height:1;
}

.aborFont {
  font-family: aboreto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:8vh;
}

.brioFont {
font-family: "brioso-pro", serif;
font-weight: 300;
font-style: italic;
}

.opsaFont{
font-family: "open-sans", sans-serif;
font-weight: 300;
font-style: normal;
}

.ultBlock {
  display: block;
  padding:0px ;
  background-color:white;
  color:black;
  text-align: center;
  width:100%;
  
}

@media (max-width: 800px)  {
.montFont {
  font-family: montserrat, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size:2.25vh;
  line-height:1;
}

.montFont1 {
  font-family: montserrat, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size:2vh;
  line-height:1;
}

.montFont2 {
  font-family: montserrat, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size:1.8vh;
  line-height:1;
}

.aborFont {
  font-family: aboreto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:4vh;
}

}

@keyframes rotateScale { 
    0% { 
        transform: rotate(0deg); 
    } 
    50% { 
        transform: rotate(180deg); 
    } 
    100% { 
        transform: rotate(360deg); 
    } 
} 
 
.rotateVeg { 
    animation: rotateScale 5s linear infinite; 
    position: relative;
    display:inline-block;
    z-index: 1;
    width: 21vw;
    height: 24.5vh;
} 



.tomaPos{
left:39vw;
top:110vh

}

.cucuPos{
left:17.5vw;
top:60vh

}

@media (max-width:800px) {

	.rotateVeg { 
    animation: rotateScale 5s linear infinite; 
    position: relative;
    display:inline-block;
    z-index: 1;
    width: 22vw;
    height: 9vh;
} 

.tomaPos{
left:43vw;
top:110vh

}

.cucuPos{
left:21.5vw;
top:60vh

}
	
}

@keyframes rotateDrinks { 
    0% { 
        transform: rotate(0deg); 
    } 
    50% { 
        transform: rotate(120deg); 
    } 
    100% { 
        transform: rotate(0deg); 
    } 
} 

.rotateDrink { 
    animation: rotateDrinks 4s ease infinite; 
    position: relative;
    display:inline-block;
    z-index: 1;
} 

.cokePos {
left:10vw;
top:25vh;
width:27vw;
height:40vh;
}
.waterPos {
left:55vw;
top:25vh;
width:27vw;
height:40vh;
}
.juicePos {
left:14vw;
top:120vh;
width:27vw;
height:40vh;
}



@media (max-width:800px):{
.cokePos {
left:00vw;
top:00vh;
width:00vw;
height:00vh;
}
.waterPos {
left:00vw;
top:00vh;
width:00vw;
height:00vh;
}
.juicePos {
left:00vw;
top:00vh;
width:00vw;
height:00vh;
}
	
}
/* cheese */
   
